/* CSS declarations go here */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:active, *:focus {
    outline: none;
}

#app-root {
    width: 100%;
    height: 100%;
}
